<div class="container">
  <ngx-loading [show]="loading"></ngx-loading>
  <br>
  <div class="form-group row">
    <H1>ENDORSE REQUEST</H1>
  </div>
  <form ngNativeValidate>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="TO" class="text-muted">TO</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.TO" id="TO" name="TO">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="DOC_LOAN" class="text-muted">DOCUMENT LOAN</label>
        <select class="form-control" required [(ngModel)]="model.DOC_LOAN" [name]="DOC_LOAN" id="DOC_LOAN"
          [ngModelOptions]="{standalone: true}">
          <option value="PO">Purchase Order</option>
          <option value="INVOICE">Invoice</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="LOAN_KEY" class="text-muted">LOAN KEY</label>
        <input type="number" class="form-control " [(ngModel)]="model.LOAN_KEY" id="LOAN_KEY" name="LOAN_KEY" required>
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="PRICE_LOAN" class="text-muted">PRICE FOR LOAN</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.PRICE_LOAN" id="PRICE_LOAN"
          name="PRICE_LOAN">
      </div>
    </div>

    <br>

    <!-- ----------------------------------SUBMIT-------------------------------------- -->
    <div class="row">
      <div class="center">
        <button type="submit" class="w3-btn w3-grey w3-border w3-border-green w3-text-white w3-round-xlarge"
          (click)="openModal(template)" style="text-shadow:1px 1px 0 #444">SUBMIT</button>
      </div>
    </div>

    <ng-template #template>
      <div class="modal-body text-center">
        <pre class="card card-block card-header">
      <p>TO :{{this.model.TO.trim()}}</p>
      <p>DOCUMENT LOAN :{{this.model.DOC_LOAN.trim()}}</p>
      <p>LOAN KEY :{{this.model.LOAN_KEY}}</p>
      <p>PRICE FOR LOAN :{{this.model.PRICE_LOAN}}</p>
    </pre>
        <p>Do you want to confirm?</p>

        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
      </div>
    </ng-template>
    <!-- ------------------------------------------------------------------------------ -->


    <div class="row" id='statusfield' style='display:none;'>
      <div class="field-label col-md-12 mx-auto">
        <label for="status" class="text-muted">Status</label>
        <textarea style="border: none; background-color: white" class="form-control border-bottom" readonly id="status"
          name="status"></textarea>
      </div>
    </div>


  </form>
</div>