<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="form-group row">
    <H1>FINANCE INVOICE</H1>
  </div>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="inv_no" class="text-muted">Invoice No</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.inv_no" id="inv_no" name="inv_no">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="DATE" class="text-muted">Invoice Date</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.DATE" id="DATE" name="DATE">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="inv_tax_seller" class="text-muted">Invoice Tax Seller Id</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.inv_tax_seller" id="inv_tax_seller" name="inv_tax_seller">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="finance_running_no" class="text-muted">Finance running Number</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.finance_running_no" id="finance_running_no"
          name="finance_running_no" pattern="^(?:[0-9][0-9]{2}|[0-9][0-9]|[1-9])$">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-6 mx-auto">
        <label for="inv_amount_used" class="text-muted">Amount used</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.inv_amount_used" id="inv_amount_used" name="inv_amount_used"
          pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="center">
        <button type="submit" class="w3-btn w3-grey w3-border w3-border-green w3-text-white w3-round-xlarge" style="text-shadow:1px 1px 0 #444">SUBMIT</button>
      </div>
    </div>

    <div class="row" id='statusfield' style='display:none;'>
      <div class="field-label col-md-12 mx-auto">
        <label for="status" class="text-muted">Status</label>
        <textarea style="border: none; background-color: white" class="form-control border-bottom" readonly id="status" name="status"></textarea>
      </div>
    </div>
  </form>
</div>