<div class="container" *ngIf="showUI">
  <ngx-loading [show]="loading"></ngx-loading>
  <br>
  <div class="form-group row">
    <H1>DASHBOARD</H1>
  </div>
  <div class="row">
    <!-- collum1 -->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-po">
          <img src="../../assets/images/boss.jpg" height="42" width="42">
          <!-- <i class="fa fa-po"></i>
          <div class="chart-wrapper">
            <canvas id="social-box-chart-1" height="90"></canvas>
          </div> -->
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="DASHBOARD$">{{DASHBOARD$.DASHBOARD_DATA.LOAN_INFO}}</div>
            <div class="text-uppercase text-muted small">Loan list</div>
          </div>
          <!-- <div>
              <div class="text-value">459</div>
              <div class="text-uppercase text-muted small">feeds</div>
            </div> -->
        </div>
      </div>
    </div>
    <!-- /.col-->

    <!-- collum2 -->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-invoice">
          <!-- <i class="fa fa-invoice"></i>
          <div class="chart-wrapper">
            <canvas id="social-box-chart-1" height="90"></canvas>
          </div> -->
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="DASHBOARD$">{{DASHBOARD$.DASHBOARD_DATA.LOAN_INFO_WAIT}}</div>
            <div class="text-uppercase text-muted small">Loan wait</div>
          </div>
          <!-- <div>
            <div class="text-value">459</div>
            <div class="text-uppercase text-muted small">feeds</div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.col-->

    <!-- collum3 -->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-success">
          <!-- <i class="fa fa-success"></i>
          <div class="chart-wrapper">
            <canvas id="social-box-chart-1" height="90"></canvas>
          </div> -->
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="DASHBOARD$">{{DASHBOARD$.DASHBOARD_DATA.ENDORSE_LOAN}}</div>
            <div class="text-uppercase text-muted small">Endrose list</div>
          </div>
          <!-- <div>
              <div class="text-value">459</div>
              <div class="text-uppercase text-muted small">feeds</div>
            </div> -->
        </div>
      </div>
    </div>
    <!-- /.col-->

    <!-- collum4 -->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-wait">
          <!-- <i class="fa fa-wait"></i>
          <div class="chart-wrapper">
            <canvas id="social-box-chart-1" height="90"></canvas>
          </div> -->
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value" *ngIf="DASHBOARD$">{{DASHBOARD$.DASHBOARD_DATA.ENDORSE_LOAN_WAIT}}</div>
            <div class="text-uppercase text-muted small">Endrose wait</div>
          </div>
          <!-- <div>
              <div class="text-value">459</div>
              <div class="text-uppercase text-muted small">feeds</div>
            </div> -->
        </div>
      </div>
    </div>
    <!-- /.col-->

    <!-- Table -->
    <br>
    <table class="table table-responsive-sm table-hover table-outline mb-0 table-striped table-light  ">
      <thead>
        <tr>
          <th>Key</th>
          <th>Loan Key</th>
          <th>Company</th>
          <th>Date registered</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!--  list คือตัวแปรของเรา -->
        <tr (click)="openModal(template,key)" *ngFor="let key of DASHBOARD$.DASHBOARD_LIST">
          <td>{{key.KEY}}</td>
          <td>{{key.LOAN_KEY}}</td>
          <td>{{key.COMPANY}}</td>
          <td>{{key.DATE}}</td>
          <td>{{key.TYPE}}</td>
          <td>
            <span class="badge badge-success">{{key.STATUS}}</span>
          </td>
        </tr>
        <!-- <tr>
                <td>Avram Tarasios</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Used</span>
                </td>
              </tr>
              <tr>
                <td>Quintin Ed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Reject</span>
                </td>
              </tr>
              <tr>
                <td>Enéas Kwadwo</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Agapetus Tadeáš</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr> -->
      </tbody>
    </table>
    <ng-template #template>
      <div class="modal-body text-center">
        <pre class="card card-block card-header text-left">
        <p style="text-align: right; margin-right:3px; font-weight: bold; font-size:32" *ngIf="this.body.FROM">{{this.body.FROM}}</p>
        <p style="text-align: right; margin-right:3px; font-weight: bold; font-size:32" *ngIf="this.body.TYPE">{{this.body.TYPE}}</p>
        <p style="text-align: right;" *ngIf="this.body.KEY"><span class="font">Document No :</span>{{this.body.KEY}}</p>
        <p style="text-align: right;" *ngIf="this.body.PO_KEY"><span class="font">Reference No :</span>{{this.body.PO_KEY}}</p>
        <p style="text-align: right;" *ngIf="this.body.DATE"><span class="font">Date :</span>{{this.body.DATE}}</p>
        <hr>
        <p *ngIf="this.body.BANK"><span class="font">Bank :</span>{{this.body.BANK}}</p>
        <p *ngIf="this.body.TO"><span class="font">To :</span>{{this.body.TO}}</p>
        <p *ngIf="this.body.EMAIL"><span class="font">Email :</span>{{this.body.EMAIL}}</p>
        <p *ngIf="this.body.TEL_NUMBER"><span class="font">Tel Number :</span>{{this.body.TEL_NUMBER}}</p>
        <p *ngIf="this.body.TAX_ID"><span class="font">Tax ID :</span>{{this.body.TAX_ID}}</p>
        <p id = "address" *ngIf="this.body.DELIVERY_ADDRESS"><span class="font">Delivery Address :</span>{{this.body.DELIVERY_ADDRESS}}</p>
        <p *ngIf="this.body.DELIVERY_DATE"><span class="font">Delivery Date :</span>{{this.body.DELIVERY_DATE}}</p>
        <p *ngIf="this.body.PAYMENT"><span class="font">Payment Date :</span>{{this.body.PAYMENT}}</p>
        <p id = "address" *ngIf="this.body.ADDRESS"><span class="font">Address :</span>{{this.body.ADDRESS}}</p>
        <p *ngIf="this.body.PRODUCT"><span class="font">Product :</span>{{this.body.PRODUCT}}</p>
        <p *ngIf="this.body.NUM_PRODUCT"><span class="font">Number of Product :</span>{{this.body.NUM_PRODUCT}}</p>
        <p *ngIf="this.body.VALUE"><span class="font">Value :</span>{{this.body.VALUE}}</p>
        <p *ngIf="this.body.PRICE"><span class="font">Price :</span>{{this.body.PRICE}}</p>
        <p *ngIf="this.body.VAT"><span class="font">VAT :</span>{{this.body.VAT}}</p>
        <p *ngIf="this.body.TOTAL_PRICE"><span class="font">Total :</span>{{this.body.TOTAL_PRICE}}</p>
        <p *ngIf="this.body.LOAN_AMOUNT"><span class="font">Loan Amount :</span>{{this.body.LOAN_AMOUNT}}</p>
        <p *ngIf="this.body.INSTALLMENT"><span class="font">Installment period :</span>{{this.body.INSTALLMENT}}</p>
        <p *ngIf="this.body.LOAN_AMOUNT"><span class="font">Loan Amount :</span>{{this.body.LOAN_AMOUNT}}</p>
        <p *ngIf="this.body.PO_KEY"><span class="font">Purchase Order Key :</span>{{this.body.PO_KEY}}</p>
        <p *ngIf="this.body.INVOICE_KEY"><span class="font">Invoice Key :</span>{{this.body.INVOICE_KEY}}</p>
        <p *ngIf="this.body.LOAN_KEY"><span class="font">Loan Key :</span>{{this.body.LOAN_KEY}}</p>

      </pre>
      </div>
    </ng-template>
  </div>
</div>